*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}
.main{
    width: 100%;
    height: 1500px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items:center;
    align-content: flex-start;
    justify-content: center;
<<<<<<< HEAD
    background-color: white;
    background-attachment: fixed;
    background-position: center;
    background-color: #f5f5f5f5;
=======
    background: rgb(0,25,59);
background: linear-gradient(176deg, rgba(0,25,59,1) 5%, rgba(0,19,48,1) 10%, rgba(1,12,36,1) 20%, rgba(1,16,42,1) 35%, rgba(2,3,22,1) 80%);

>>>>>>> novo-layout
    /*cria o efeito anterior e com o fixed ele fica fizo na tela e quando acontece a rolagem fica um efeito bem legal, pois não se move */
}
/*Menu*/
.main_menu{
    width:100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items:stretch;
    align-content:space-around;
    justify-content: space-around;
    color: black;
    position: relative;
    background-color: black;
    position: fixed;
}
.menu{
    width: 35%;
    height: 38px;
    z-index: 10;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-content: space-around;
}
.menu ul{
    list-style: none;
    position: relative;
    text-align: center;
}
.menu ul li{
    width: 110px;
    float: left;
}
.menu ul li a{
    text-align: left;
    font-size: 19px;
    text-decoration: none;
    color:white;   
    position: relative;
    font-weight: 700;
    display: block;
    overflow: hidden;
    transition: 0.7s all;       
    padding: 10px 10px;
    text-transform: uppercase;
}
.main_menu li a:before{
    content: ' ';
    width: 50px;
    position: absolute;
    border-bottom: 3px solid white;
    bottom: 0;
    right: 150px;
    transition: 0.5s all;
    border-radius: 3px;
}
.main_menu li a:hover:before{
    right: 12px;
}
.main_menu h2{
    width: 100px;
    text-align: center;
}
.main_menu .logo_menu{ 
    width: 20%;
    height: 38px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: flex-end;
    align-items: center;
}
.main_menu .logo_menu img{ 
    max-width:35%;
}
/*Pagina Inical*/
.main_home{
    width: 100%;    
    height: 669px;
}
.Home{
    width: 100%;
    height: 669px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-around;
    align-items: center;
}
.main_loopis{
    width: 100%;
    height: 260px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: space-around;
}
.main_loopis .logo_home{
<<<<<<< HEAD
    width: 45%;
    height: 200px;
=======
    width: 60%;
    height: 400px;
>>>>>>> novo-layout
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    justify-content: center;
    background-image: url(../IMG/LoopisFundoAzul.png);
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    border-radius: 3px;
    border: solid 1px;
}
.main_loopis img{
    max-width: 65%;
}
/*COnfiguração dos cards da pagina inicial*/
.main_cards{
    width: 80%;
    height: 200px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-around;
}
.card{
<<<<<<< HEAD
    width: 27%;
    height: 220px;
    color: black;
    border-radius: 3px;
    background-color: white;
    border: solid 0.8px black;
}
.card h2{
    text-align: center;
    margin: 15px;
    padding: 5px;
}
.card p{
    width: 80%;
    margin-left:10%;
    padding: 8px;
=======
    width: 28%;
    height: 230px;
    color: white;
    border-radius: 3px;  
    background-color: white transparent;
    border: solid 1px #4F4F4F;
}
.card h2{
    margin-left: -5%;
    padding: 15px;
    width: 100%;
    text-align: center;
}
.card p{
    max-width: 75%;
    text-align: left;
    margin-left: 15%;
    padding-top:15px;  
>>>>>>> novo-layout
}
.main_rodape{
    width: 60%;
    height: 8px;
}
